<section id="footer">
  <div class="main-footer">
    <div class="logoinfo" data-aos="fade-up">
      <div class="contact-details">
        <h1>Contact Us</h1>
        <li>
            <a href="tel:+919326048690">
              +91 0987654321</a>
        </li>
        <li>
          <a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a>
        </li>
      </div>
    </div>
    <div class="com " data-aos="fade-up">

      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Vidoes</a></li>
        <li><a href="#">Songs</a></li>
      </ul>
    </div>
    <div class="info" data-aos="fade-up">
      <h1>Social Media</h1>

      <div class="logobox">
        <a [href]="linkedinUrl" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt=""
            matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="googleUrl" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" alt=""
           matTooltip="Google+" matTooltipPosition="above">
        </a>
        <a [href]="twitterUrl" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
           matTooltipPosition="above">
        </a>
      </div>

    </div>
  </div>

</section>
