@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Titillium+Web:ital,wght@1,200&display=swap');


* {
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
}


.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
}

mat-toolbar {
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
  background: transparent;
  background: black;
  position: relative;
}

a:hover {
  /* background-color: black; */
  color: #ff0008;

}

.header_change{
  position:fixed;
  background:rgb(0,0,0,0.4);
  box-shadow: 0;
  border: none;

}

.form-control{
  background-color: black;
  width: 12rem;
  border: none;
  color:white;
}

.notification{
  width: 0;
}
