<div>
  <mat-toolbar [class.header_change]="header_change">
    <span fxFlex><img src="../../assets/MicrosoftTeams-image.png" alt="" height="30px"/></span>
    
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" class="container">
      <a mat-button routerLink="/videos">Home </a>
      <a mat-button routerLink="/movies" routerLinkActive="list-item-active">
        Movies
      </a>
      <a mat-button routerLink="/songs"> Songs </a>
      <a mat-button routerLink="/videos"> Videos </a>
      <a mat-button routerLink="/videos"> Recently Added </a>
      <a mat-button routerLink="/videos"> My List </a>
    </div>

    <div class="container navEnd">
      <form>
        <!-- <span>{{userName}}</span> -->
        <input type="text" name="search" placeholder="Search.." />
      </form>
      <span class="KIDS">KIDS</span>
      <span class="username">DVD</span>

      <fa-icon class="Icon" [icon]="bell"></fa-icon>
      <img class="iconimg" src="../../assets/2170.jpg" alt="" />
      <button mat-button [matMenuTriggerFor]="menu">
        <fa-icon class="Icon" [icon]="Caret"></fa-icon>
      </button>
      <mat-menu color="primary" #menu="matMenu" class="custom-class">
        <button class="items" mat-menu-item><span>Setting</span></button>
        <button class="items" mat-menu-item>Help</button>
        <button class="items" (click)="logOut()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
<slider></slider>
