.main {
  /* background-color:bisque; */

  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}



.container {
  /* border:1px solid black; */
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: 10rem;
  width: 75%;
  padding: 115px;





}
form{

padding: 35px;
/* padding-right: 170px; */
opacity: 80%;
/* border: 1px solid  rgb(75, 75, 145); */
box-shadow: rgb(157, 157, 192) 0px 4px 12px;
position: relative;

}

form div{
opacity: 1;
}
.login {
color: #0d8ea1;
 text-align: center;
margin-left: 170px;

}

.ran{
  color: #0d8ea1;
  /* font-weight: bold; */
}

/* .ran:hover{
  color: white;
} */
.form-control {
  width: 200%;

}
.btnSubmit{
background-color:#0d8ea1;
width: 400px;

}
.btnSubmit:hover{
background-color: #0d8ea1;
box-shadow: #0d8ea1;
}

.endText{
color: #0d8ea1;
margin-top: 20px;

}
