.main {
  /* background-color:bisque; */
  background-image: url('../../assets/wallpaperflare.com_wallpaper.jpg');
  background-repeat: no-repeat;

  background-size: 100% 100%;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}



.container {
  /* border:1px solid black; */
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: 10rem;
  width: 77%;
  padding: 115px;
}
form{

padding: 35px;
/* padding-right: 170px; */
opacity: 70%;
/* border: 1px solid  rgb(75, 75, 145); */

position: relative;
background-color: black;



}

/* form div{
opacity: 1;
} */
.login {
color:white;
 text-align: center;
margin-left: 170px;

}

.ran{
  color: white;
  /* font-weight: bold; */
}

/* .ran:hover{
  color: white;
} */
.form-control {
  width: 200%;

}
.btnSubmit{
background-color:#E50914;
width: 400px;
border: none;
border-radius: 0px;
z-index:1;
color: black;
}
.btnSubmit:hover{
background-color: #E50914;
box-shadow: #E50914;

}

.endText{
color: white;
margin-top: 20px;

}
