<section class="product">
    <div class="container-fluid">
        <div class="title">
            <span>Trending movies</span>
        </div>
        
        <div class="slider-wrap">
            <div class="slider-main" >
                <table class="table">
                  <thead></thead>
                    <tbody>
                        <tr >
                            <td *ngFor="let img of imagist"><img src="{{img.imageURl}}" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <img src="{{img.imageURl}}" alt=""> -->

                <!-- <div class="item">
                    <img src="../../assets/nb_ist_cover.jpg" (click)="change()">
                </div>
                <div class="item">
                    <img src="../../assets/html-slider-wordpress.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/pic.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/walking.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/heist.jpg">
                </div>

                <div class="item">
                    <img src="../../assets/pic.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/heist.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/walking.jpg">
                </div>
                <div class="item">
                    <img src="../../assets/pic.jpg">
                </div> -->
            </div>
            <div class="button-area">
                <span type="button" class="prev material-icons btn-sm" appPrev><fa-icon class="Icon" [icon]="left"></fa-icon></span>
                <span type="button" class="next material-icons  btn-sm" appNext><fa-icon class="Icon" [icon]="right"></fa-icon></span>
            </div>
        </div>
    </div>
</section>