
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Fjalla+One&family=Heebo:wght@100;200&family=Mukta:wght@200&family=Nunito+Sans:wght@300&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Titillium+Web:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Fjalla+One&family=Heebo:wght@100;200&family=Mukta:wght@200&family=Nunito+Sans:wght@300&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Passion+One&family=Titillium+Web:ital,wght@1,200&display=swap');
.imghw {
  height: 600px;
  width: 1600px;
}


* {
  background-color: black;

}

.active {
  display: none;
}

.carousel-indicators {
  display: none;
}



/* .carousel-indicators {
  bottom: auto;
  top: 105%;
} */

.carousel-caption{

  /* text-align: left; */
  background-color: aliceblue;
  /* left: 5%; */
  padding-bottom: 70px;
  width: 500px;





}
.sliderText{
  background: none;
  /* font-size: 16px; */
  padding-top: 10px;
  /* margin-left: 35px; */


}
.title{
background:none;
width: 300px;
line-height: 50px !important;
font-family: 'Playfair Display', serif !important;

/* background-color: aquamarine; */
text-align: center;
font-size: 50px !important;
margin-top: 30px;
padding-left: 10px;
font-weight: bold;
margin-bottom: -6px !important;




}



.tabs{
  background:none;
  margin-left: 50px !important;
  margin-top: 50px !important;
}
.tabs span{
  /* background: none; */
  margin: 5px;
  opacity: 80%;


}


.tab{
  background-color: white;
  color: black;
  /* padding: 5px 7px; */
  font-size: 17px !important;
  border-radius: 3px;
  margin-top: 4px;
  /* padding-right: 20px; */
  padding: 8px 30px!important;


}
.type{
  background-color: rgb(187, 187, 59);
  color: black;
  padding: 5px 25px 5px 10px;
  font-weight: bold;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 3px;
  margin-top: 100px !important;
}

.icon{
  background: none;
  padding-top: 8.6px;
  font-size: 20px;


}
.sr-only{
  visibility: hidden;
}
.carousel-caption{
  background:none;
  text-align: left;
  /* background-color: aliceblue; */
  left: 5%;
  padding-bottom: 70px;
  width: 450px;



}
.sliderText{
  background: none;
  font-size: 16px;
  padding-top:40px;
  margin-left: 35px;



}
.title{
  color: white;
  margin:50px;
  font-size: 55px !important;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;

  text-align: center;
}



.tabs{
  background:none;
  margin-top: 20px !important;


}
.tabs span{
  /* background: none; */
  margin: 5px;
  opacity: 80%;
}


.tab{
  background-color: white;
  color: black;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 4px;
  margin-left: -14px !important;
  /* padding-right: 20px; */
  margin-right: -10px !important;

}
.tab2{
  background-color: white;
  color: black;
  padding: 7px 30px !important;
  font-size: 19px !important;
  border-radius: 3px;
  margin-top: 4px;
  margin-left:25px !important;
  /* margin-right: -10px !important; */
  opacity: 40% !important;
}
.type{
  background-color: rgb(187, 187, 59);
  color: black;
  padding: 5px 25px 5px 10px;
  font-weight: bold;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-radius: 3px;
  margin-top: 100px !important;
}

.icon{
  background: none;
  padding-top: 7px;
  font-size: 20px;
  padding-right:20px;
  padding-left: -10px;



}
