<ngb-carousel class="no-indicators" #carousel [interval]="3000" [pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)" >
	<ng-template ngbSlide *ngFor="let img of images; index as i">



			<div class="picsum-img-wrapper">
				<img class="imghw" [src]="img" alt="My image {{i + 1}} description" />

			</div>
      <div class="carousel-caption ">
        <span class="sliderText title">A Classic Horror Story</span>



        <div>
          <p></p>
        </div>
              <p class="sliderText">Nulla vitae elit libero vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero</p>
   <div class="tabs">
          <span  class="tab">	<mat-icon class="icon">play_arrow</mat-icon>Watch</span>
          <!-- <span class="tab"><mat-icon class="icon">add</mat-icon>My List</span> -->
   </div>
            </div>



		<!-- <div class="picsum-img-wrapper">
			<img class="imghw" [src]="img" alt="My image {{i + 1}} description" />
		</div> -->

	</ng-template>
</ngb-carousel>
