

<div id="gfg">
    <mdb-carousel >

        <mdb-carousel-item>

            <div class="view w-100 ">
                <img style="height: 600px;" class="d-block w-100" src="../../assets/wallpaperflare.com_wallpaper.jpg" alt="First slide">
                <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                </div> -->
            </div>

        </mdb-carousel-item>

        <mdb-carousel-item>

            <div class="view w-100">
                <img style="height: 600px;" class="d-block w-100" src="../../assets/marvel.jpg" alt="Second slide">
                <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                </div> -->
            </div>

        </mdb-carousel-item>

        <mdb-carousel-item>

            <div class="view w-100">
                <img style="height: 600px;" class="d-block w-100" src="../../assets/batman.jpeg" alt="Third slide">
                <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect>
                </div> -->
            </div>

        </mdb-carousel-item>
        <span class="carousel-control-next-icon"></span>
        <div class="carousel-caption ">
          <div class="title">
            STRANGER THINGS
          </div>
          <div class="tabs">
            <!-- <span  class="tab">	<mat-icon class="icon">play_arrow</mat-icon>Watch</span>
            <span  class="tab2">	<mat-icon  class="icon"> add </mat-icon>My List</span> -->
              <span  class="tab" ><fa-icon class="Icon" [icon]="play"></fa-icon>Watch</span>
            <span  class="tab2" ><fa-icon class="Icon" [icon]="plus"></fa-icon>	My List</span>
     </div>

                <p class="sliderText">Nulla vitae elit libero vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue mollis interdumNulla vitae elit libero, a pharetra augue molliso</p>

              </div>

    </mdb-carousel>
</div>




